<div class="container">
  <div class="portfolio-container" *ngFor="let portfolio of portfolios">
    <div class="portfolio-title row">
      <div class="symbol-item col-sm-1 portfolio-name" (click)="toCompare(portfolio)">
        <a class="symbol-code">{{ portfolio.portfolioName }} </a>
      </div>
      <div class="out-btn">
        <span class="oi oi-circle-x delete-portfolio-icon" (click)="removePortfolio(portfolio)" title="Delete"></span>
      </div>
    </div>
    <div class="symbol-selector-container row">
      <div class="symbol-item active col-sm-1" *ngFor="let symbol of portfolio.symbols" id="symbol-{{symbol.symbol}}" title="{{ symbol.companyname }}">
        <p class="symbol-code">{{ symbol.symbol }}</p>
        <span class="oi oi-circle-x remove-icon" (click)="removeSymbol(symbol, portfolio)"></span>
      </div>
      <div class="out-btn">
        <span class="oi oi-plus add-icon" (click)="open(content, portfolio)"></span>
      </div>
    </div>
  </div>
  <div class="create-container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="New portfolio name" id="create-input" [(ngModel)]="new_name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="create-btn" (click)="createPortfolio()">Create</button>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add symbols</h4>
    <button id="modal-close-btn" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input id="symbol-input" class="form-control" placeholder="symbol" name="symbol-input" type="text" (keyup)="showSearch($event)"
          [(ngModel)]="prefix" autocomplete="off">
        <div class="symbol-list-container">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let symbol of search_symbols" (click)="selectSymbol(symbol)">
              <strong>{{ prefix }}</strong>{{ symbol.symbol.slice(prefix.length) }} ({{ symbol.companyname }})</li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<!-- <ng-template #error let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Error</h4>
    <button id="modal-close-btn" type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <p>{{ error }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template> -->