<div class="container">
  <div class="search row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <i class="fas fa-search h4 text-body"></i>
        </div>
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search symbols"
            (keyup)="showSearch($event)">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
        <!--end of col-->
      </div>
    </div>
    <!--end of col-->
  </div>


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="first-column" scope="col">Symbol</th>
        <th class="second-column" scope="col">Company</th>
      </tr>
    </thead>
  </table>
  <div class="table-container">
    <table class="table">
      <tbody>
        <tr class="symbol-row" *ngFor="let symbol of symbols" (click)="toDetail(symbol)">
          <td class="first-column" scope="row"><strong>{{ prefix }}</strong>{{ symbol.symbol.slice(prefix.length) }}</td>
          <td class="second-column">{{ symbol.companyname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>